
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

body {
    background-color: #36393f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}

.form-container {
    background-color: #2f3136;
    padding: 40px 20px;
    border-radius: 8px;
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    color: #b9bbbe;
}

input[type="email"],
input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    background-color: #202225;
    color: #b9bbbe;
    border: 1px solid #4f545c;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
    outline: none !important;
    border-color: black;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #5865f2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4752c4;
}

.dob {
    display: flex;
    justify-content: space-between;
}

.dob select {
    width: 32%;
    padding: 10px;
    background-color: #202225;
    color: #b9bbbe;
    border: 1px solid #4f545c;
    border-radius: 5px;
    font-size: 14px;
    appearance: none;
    margin-top: 5px;
}

.dob select:focus {
    outline: none;
    border-color: #000000;
}

.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox-text{
    color: grey;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
    background-color: #f0f0f0;
    width: 20px;
  height: 20px;
}

.already-account {
    text-align: flex-start;
    margin-top: 20px;
}

.already-account a {
    color: #00aff4;
    text-decoration: none;
}

.terms_condition{
   padding-top: 10px;
   font-size: 10px;
   color: grey;
}

.already-account a:hover {
    text-decoration: underline;
}
